<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>View Post</h1>

        <ul><h1><%= post.title %></h1></ul>
        <ul><p><%= post.description %></p></ul>
        <ul><a href="<%= post._id %>/editPost"><button>Edit</button></a></ul>
        <form action="/viewPost/<%= post._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <a href="/"><button>Back</button></a>

    </body>
</html>